//
// Vendors
//
//@import "../../node_modules/reset-css/sass/reset";
@import '../../node_modules/include-media/dist/include-media';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

html,
body {
  background-color: #1E1E1E;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// Config
@import 'config/variables';
@import 'config/utils';

// Components
@import 'components/breadcrumbs';
@import 'components/btn';
@import 'components/container';
@import 'components/icons';
@import 'components/slider';
@import 'components/overflow';
@import 'components/wp-block';

// Base
@import 'base/header-top';
@import 'base/header-nav';
@import 'base/main';
@import 'base/typography';
@import 'base/footer';

// Partials
@import "partials/home/index";
@import "partials/news";
