.formation {
  &-items {
    display: flex;
    flex-direction: column;
    gap: 160px;

    @include media('<=768px') {
      gap: 48px;
    }
  }

  &-item {
    align-items: flex-end;
    display: flex;
    gap: 30px;
    //max-width: 1246px;

    @include media('<=768px') {
      flex-direction: column;
    }

    @include media('<=768px') {
      flex-direction: column;
      gap: 20px;
    }

    .img-grid {
      width: 40%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;

      @include media('<=768px') {
        width: 100%;
      }

      img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        z-index: 100;
      }
    }

    figure {
      height: 100%;
      position: relative;
      width: 40%;

      @include media('<=768px') {
        width: 100%;
      }

      img {
        border-radius: 64px 64px 64px 4px;
        width: 100%;
        z-index: 100;
        position: relative;
      }
    }

    .desc {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      width: 60%;

      @include media('<=768px') {
        width: 100%;
      }

      &-wrapper {
        border-radius: 64px 64px 64px 4px;
        background: #313131;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 8px;
        padding: 36px 24px;
      }

      h2,
      p {
        color: #fff;
        margin: 0;
      }

      .title {
        margin-bottom: 24px;

        h2 {
          color: #EECC54;
          font-size: 28px;
          line-height: 150%;
          letter-spacing: 0.01em;

          @include media('<=768px') {
            font-size: 24px;
          }
        }
      }

      .tags {
        margin-bottom: 8px;
      }

      .info {
        column-gap: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 12px;
        width: 100%;

        @include media('<=768px') {
          grid-template-columns: 1fr;
        }

        span {
          align-items: center;
          display: flex;
          font-size: 14px;
          text-transform: uppercase;
        }

        i {
          //color: $orange2;
          margin-right: 12px;
          font-size: 16px;
        }
      }

      .cta {
        display: flex;
        gap: 48px;

        @include media('<=768px') {
          flex-direction: column;
          gap: 24px;
        }
      }
    }
  }

  &-items-art {
    .formation-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;

      @include media('<=768px') {
        display: flex;
        flex-direction: column;
      }

      figure img {
        max-height: 290px;
        height: 100%;
        object-fit: cover;

      }

      .title {
        background-color: #000;

        color: #fff;
        grid-column: 1 / span 2;
        order: 1;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;

        position: relative;

        &::before {
          content: '';
          background-image: url('../images/art-list-id.png');
          background-size: cover;
          position: absolute;
          width: 460px;
          height: 100%;
          top: 0;
          right: 0;
          max-width: 100%;
        }

        h2,
        p {
          margin: 0;
          position: relative;
        }

        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 33.6px;
          text-align: left;
          margin: 0;
          text-transform: uppercase;
        }

        .info {
          display: flex;
          gap: 24px;
          width: 100%;
          position: relative;

          @include media('<=768px') {
            flex-direction: column;
          }

          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            letter-spacing: 0.02em;
            text-align: left;
            text-transform: uppercase;
          }

          i {
            margin-right: 12px;
            color: #15bab6;
          }
        }
      }

      .desc {
        order: 2;
        width: 100%;

        p {
          font-size: 18px;
        }
      }

      figure {
        order: 3;
        width: 100%;
      }

      .cta {
        grid-column: 1 / span 2;
        order: 4;
        text-align: right;

        display: flex;
        justify-content: flex-end;
        gap: 12px;

        @include media('<=768px') {
          width: 100%;
          flex-direction: column;
        }

        a {
          justify-content: center;
        }
      }
    }
  }

  &-items-debate {
    gap: 160px;

    @include media('<=768px') {
      gap: 80px;
    }

    .formation-item {
      align-items: self-start;
      gap: 56px;

      .img-grid,
      figure {
        position: relative;
        height: auto;

        &::before {
          content: '';
          bottom: 0;
          height: 133px;
          position: absolute;
          width: 313px;

          @include media('<=768px') {
            display: none;
          }
        }
      }

      &:nth-child(even) {
        .desc {
          order: 0;
        }

        .img-grid,
        figure {
          order: 1;

          &::before {
            background-image: url('../images/debate-odd.png');
            right: 0;
            transform: translate(50%, 50%);
          }
        }
      }

      &:nth-child(odd) {
        .img-grid,
        figure {
          &::before {
            background-image: url('../images/debate-even.png');
            left: 0;
            transform: translate(-50%, 50%);
          }
        }
      }

      .desc {
        .title {
          h2 {
            color: #000;
            font-size: 32px;
            font-weight: 700;
            line-height: 44.8px;
            text-align: left;
          }
        }

        .info {
          border: none;
          grid-template-columns: 1fr;
          gap: 12px;
          padding: 0;

          span {
            font-weight: 500;
          }
        }
      }
    }
  }

  //&-items-juri {
  //  @include media('<=768px') {
  //    gap:48px;
  //  }
  //
  //  .formation-item {
  //    flex-direction: row-reverse;
  //    align-items: flex-start;
  //
  //
  //    figure {
  //      position: relative;
  //    }
  //
  //    .title {
  //      display: flex;
  //      flex-direction: column;
  //      gap: 16px;
  //
  //      h2 {
  //        color: #000;
  //        font-size: 24px;
  //        font-weight: 700;
  //        line-height: 44.8px;
  //        text-align: left;
  //      }
  //
  //      .subtitle {
  //        font-size: 18px;
  //        font-weight: 700;
  //        line-height: 19.2px;
  //        letter-spacing: 0.02em;
  //        text-align: left;
  //      }
  //    }
  //
  //    .desc {
  //    }
  //  }
  //}

  &-single {
    .details {
      align-items: end;
      color: #fff;
      display: grid;
      grid-template-columns: 0.6fr 1.4fr;
      position: relative;
      row-gap: 12px;
      column-gap: 24px;
      width: 100%;

      @include media('<=768px') {
        grid-template-columns: 1fr;
        row-gap: 24px;
        margin-bottom: 0;
      }

      .left {
        position: relative;

        figure,
        img {
          height: 100%;
        }

        img {
          border-radius: 64px 64px 4px 64px;
          object-fit: cover;
          width: 100%;

        }

        @include media('<=768px') {
        }
      }

      .right {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        position: relative;
        width: 100%;

        @include media('<=768px') {
          order: 10;
          padding: 24px;
        }
      }

      .title {
        h3 {
          color: $yellow;
          font-weight: 400;
          font-size: 28px;
          margin-top: 0;
          margin-bottom: 2px;
          text-transform: uppercase;
        }

        span {
          font-size: 18px;
        }
      }

      .info {
        background: #313131;
        border-radius: 4px 64px 64px 4px;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
        column-gap: 32px;
        padding: 36px 24px;

        @include media('<=768px') {
          grid-template-columns: 1fr;
        }

        .tags {
          grid-column: 1 / span 2;
        }

        span {
          font-size: 16px;
        }

        i {
          margin-right: 12px;
        }
      }
    }

    .sections {
      position: relative;
      margin: 80px 0;

      @include media('<=768px') {
        margin: 40px 0;
      }

      .container-948 {
        display: flex;
        flex-direction: column;
        gap: 64px;
      }
    }

    .section {
      display: flex;
      margin-top: 40px;
      flex-direction: column;
      column-gap: 48px;

      h4,
      p:first-child {
        margin-top: 0;
      }

      h4 {
        color: #fff;
        font-size: 32px;
        font-weight: 400;

        @include media('<=768px') {
          font-size: 24px;
        }
      }
    }
  }
}
