.news {
  &-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    @include media('<=768px') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=468px') {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    &,
    a {
      display: flex;
      flex-direction: column;
    }

    a {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    figure {
      border-radius: 8px;
      overflow: hidden;
    }

    img {
      border-radius: 24px 24px 8px 8px;
      height: 100%;
      object-fit: cover;
      width: 100%;
      transition: $transition-quick;
    }

    .content {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .title {
      font-size: 18px;
      line-height: 140%;

      @include media('<=768px') {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .heading {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      gap: 16px;
      text-transform: uppercase;
    }
  }
}