@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?s8gtod');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?s8gtod#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?s8gtod') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?s8gtod') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?s8gtod##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mct-2026 {
  &:before {
    content: $icon-mct-2026; 
  }
}
.icon-arrow-right-2 {
  &:before {
    content: $icon-arrow-right-2; 
  }
}
.icon-arrow-left-2 {
  &:before {
    content: $icon-arrow-left-2; 
  }
}
.icon-mct-2025 {
  &:before {
    content: $icon-mct-2025; 
  }
}
.icon-lines {
  &:before {
    content: $icon-lines; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-15-cinemundi {
  &:before {
    content: $icon-15-cinemundi; 
  }
}
.icon-18-cinebh {
  &:before {
    content: $icon-18-cinebh; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-prev {
  &:before {
    content: $icon-prev; 
  }
}
.icon-next {
  &:before {
    content: $icon-next; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-cineop-19 {
  &:before {
    content: $icon-cineop-19; 
  }
}
.icon-mct-26 {
  &:before {
    content: $icon-mct-26; 
  }
}
.icon-bcm {
  &:before {
    content: $icon-bcm; 
  }
}
.icon-brasilcinemundi {
  &:before {
    content: $icon-brasilcinemundi; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-cinebh {
  &:before {
    content: $icon-cinebh; 
  }
}
.icon-cineop1 {
  &:before {
    content: $icon-cineop1; 
  }
}
.icon-circle-flickr {
  &:before {
    content: $icon-circle-flickr; 
  }
}
.icon-circle-instagram {
  &:before {
    content: $icon-circle-instagram; 
  }
}
.icon-circle-linkedin {
  &:before {
    content: $icon-circle-linkedin; 
  }
}
.icon-circle-telegram {
  &:before {
    content: $icon-circle-telegram; 
  }
}
.icon-circle-twitter {
  &:before {
    content: $icon-circle-twitter; 
  }
}
.icon-circle-youtube {
  &:before {
    content: $icon-circle-youtube; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-mostratiradentes {
  &:before {
    content: $icon-mostratiradentes; 
  }
}
.icon-send {
  &:before {
    content: $icon-send; 
  }
}
.icon-shopping-bag {
  &:before {
    content: $icon-shopping-bag; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-up {
  &:before {
    content: $icon-up; 
  }
}
.icon-up-full {
  &:before {
    content: $icon-up-full; 
  }
}
.icon-up-min {
  &:before {
    content: $icon-up-min; 
  }
}
.icon-up-start {
  &:before {
    content: $icon-up-start; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-book-open {
  &:before {
    content: $icon-book-open; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-25-mct {
  &:before {
    content: $icon-25-mct; 
  }
}
.icon-circle-facebook {
  &:before {
    content: $icon-circle-facebook; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-calendar-blank-line {
  &:before {
    content: $icon-calendar-blank-line; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-circle-chevron-down {
  &:before {
    content: $icon-circle-chevron-down; 
  }
}
.icon-new-tab {
  &:before {
    content: $icon-new-tab; 
  }
}
.icon-instagram-s {
  &:before {
    content: $icon-instagram-s; 
  }
}
.icon-linkedin-s {
  &:before {
    content: $icon-linkedin-s; 
  }
}
.icon-twitter-s {
  &:before {
    content: $icon-twitter-s; 
  }
}
.icon-youtube-s {
  &:before {
    content: $icon-youtube-s; 
  }
}
.icon-flickr-s {
  &:before {
    content: $icon-flickr-s; 
  }
}
.icon-facebook-s {
  &:before {
    content: $icon-facebook-s; 
  }
}
.icon-17-cineop {
  &:before {
    content: $icon-17-cineop; 
  }
}
.icon-long-arrow-right {
  &:before {
    content: $icon-long-arrow-right; 
  }
}
.icon-bcm-13-brand {
  &:before {
    content: $icon-bcm-13-brand; 
  }
}
.icon-play-f {
  &:before {
    content: $icon-play-f; 
  }
}
.icon-play-r {
  &:before {
    content: $icon-play-r; 
  }
}
.icon-dots {
  &:before {
    content: $icon-dots; 
  }
}
.icon-play1 {
  &:before {
    content: $icon-play1; 
  }
}
.icon-short-arrow-right {
  &:before {
    content: $icon-short-arrow-right; 
  }
}
.icon-short-arrow-left {
  &:before {
    content: $icon-short-arrow-left; 
  }
}
.icon-pin-fill {
  &:before {
    content: $icon-pin-fill; 
  }
}
.icon-double-left-arrow {
  &:before {
    content: $icon-double-left-arrow; 
  }
}
.icon-double-right-arrow {
  &:before {
    content: $icon-double-right-arrow; 
  }
}
.icon-18-cineop {
  &:before {
    content: $icon-18-cineop; 
  }
}
.icon-long-arrow-left {
  &:before {
    content: $icon-long-arrow-left; 
  }
}
.icon-14-bcm {
  &:before {
    content: $icon-14-bcm; 
  }
}
.icon-17-cinebh {
  &:before {
    content: $icon-17-cinebh; 
  }
}
.icon-pin-f {
  &:before {
    content: $icon-pin-f; 
  }
}
.icon-mdi-calendar {
  &:before {
    content: $icon-mdi-calendar; 
  }
}
.icon-27-mct {
  &:before {
    content: $icon-27-mct; 
  }
}

