$icomoon-font-family: "up" !default;
$icomoon-font-path: "fonts" !default;

$icon-mct-2026: unquote('"\\e94e"');
$icon-arrow-right-2: unquote('"\\e94c"');
$icon-arrow-left-2: unquote('"\\e94d"');
$icon-mct-2025: unquote('"\\e94b"');
$icon-lines: unquote('"\\e94a"');
$icon-menu: unquote('"\\e949"');
$icon-15-cinemundi: unquote('"\\e947"');
$icon-18-cinebh: unquote('"\\e948"');
$icon-clock: unquote('"\\e946"');
$icon-prev: unquote('"\\e944"');
$icon-next: unquote('"\\e945"');
$icon-x: unquote('"\\e900"');
$icon-cineop-19: unquote('"\\e901"');
$icon-mct-26: unquote('"\\e902"');
$icon-bcm: unquote('"\\e903"');
$icon-brasilcinemundi: unquote('"\\e904"');
$icon-chevron-down: unquote('"\\e905"');
$icon-chevron-left: unquote('"\\e906"');
$icon-chevron-right: unquote('"\\e907"');
$icon-chevron-up: unquote('"\\e908"');
$icon-cinebh: unquote('"\\e909"');
$icon-cineop1: unquote('"\\e90a"');
$icon-circle-flickr: unquote('"\\e90b"');
$icon-circle-instagram: unquote('"\\e90c"');
$icon-circle-linkedin: unquote('"\\e90d"');
$icon-circle-telegram: unquote('"\\e90e"');
$icon-circle-twitter: unquote('"\\e90f"');
$icon-circle-youtube: unquote('"\\e910"');
$icon-facebook: unquote('"\\e911"');
$icon-linkedin: unquote('"\\e912"');
$icon-mostratiradentes: unquote('"\\e913"');
$icon-send: unquote('"\\e914"');
$icon-shopping-bag: unquote('"\\e915"');
$icon-twitter: unquote('"\\e916"');
$icon-up: unquote('"\\e917"');
$icon-up-full: unquote('"\\e918"');
$icon-up-min: unquote('"\\e919"');
$icon-up-start: unquote('"\\e91a"');
$icon-user: unquote('"\\e91b"');
$icon-book-open: unquote('"\\e91c"');
$icon-arrow-left: unquote('"\\e91d"');
$icon-arrow-right: unquote('"\\e91e"');
$icon-arrow-down: unquote('"\\e91f"');
$icon-arrow-up: unquote('"\\e920"');
$icon-pencil: unquote('"\\e921"');
$icon-25-mct: unquote('"\\e922"');
$icon-circle-facebook: unquote('"\\e923"');
$icon-whatsapp: unquote('"\\e924"');
$icon-pin: unquote('"\\e925"');
$icon-calendar-blank-line: unquote('"\\e926"');
$icon-play: unquote('"\\e927"');
$icon-telegram: unquote('"\\e928"');
$icon-circle-chevron-down: unquote('"\\e929"');
$icon-new-tab: unquote('"\\e92a"');
$icon-instagram-s: unquote('"\\e92b"');
$icon-linkedin-s: unquote('"\\e92c"');
$icon-twitter-s: unquote('"\\e92d"');
$icon-youtube-s: unquote('"\\e92e"');
$icon-flickr-s: unquote('"\\e92f"');
$icon-facebook-s: unquote('"\\e930"');
$icon-17-cineop: unquote('"\\e931"');
$icon-long-arrow-right: unquote('"\\e932"');
$icon-bcm-13-brand: unquote('"\\e933"');
$icon-play-f: unquote('"\\e934"');
$icon-play-r: unquote('"\\e935"');
$icon-dots: unquote('"\\e936"');
$icon-play1: unquote('"\\e937"');
$icon-short-arrow-right: unquote('"\\e938"');
$icon-short-arrow-left: unquote('"\\e939"');
$icon-pin-fill: unquote('"\\e93a"');
$icon-double-left-arrow: unquote('"\\e93b"');
$icon-double-right-arrow: unquote('"\\e93c"');
$icon-18-cineop: unquote('"\\e943"');
$icon-long-arrow-left: unquote('"\\e93d"');
$icon-14-bcm: unquote('"\\e93e"');
$icon-17-cinebh: unquote('"\\e93f"');
$icon-pin-f: unquote('"\\e940"');
$icon-mdi-calendar: unquote('"\\e941"');
$icon-27-mct: unquote('"\\e942"');

