.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-top {
  background-color: $orange;
  background-blend-mode: multiply;
  background-image: url('../images/header-bgc.webp');
  background-position: center;
  background-size: cover;
  border-radius: 60px 60px 60px 0;

  @include media('<=768px') {
    border-radius: 20px 20px 20px 0;
  }


  .container {
    align-items: center;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;

    @include media('<=768px') {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    div {
      max-width: 220px;
      width: 100%;

      @include media('<=768px') {
        max-width: 100%;
      }

      &:first-child {
        @include media('<=768px') {
          grid-column: 1 / span 2;
          margin-bottom: 12px;
          text-align: center;
        }
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  p {
    font-size: 14px;

    @include media('<=768px') {
      font-size: 12px;
    }
  }

  h1 {
    font-size: 90px;
    line-height: 0;
  }
}