h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
strong, b {
  font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 140%;
}


h1, .h1 {
  font-size: 64px;

  @include media('<=768px') {
    font-size: 30px;
  }
}

h2, .h2 {
  font-size: 48px;

  @include media('<=768px') {
    font-size: 28px;
  }
}

h3, .h3 {
  font-size: 40px;

  @include media('<=768px') {
    font-size: 24px;
  }
}

h4, .h4 {
  font-size: 24px;

  @include media('<=768px') {
    font-size: 18px;
  }
}

h5, .h5 {
  font-size: 20px;

  @include media('<=768px') {
    font-size: 16px;
  }
}