.breadcrumbs {
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 160%;
  margin-top: 64px;


  @include media('<=768px') {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .separator {
    margin: 0 8px;
  }

  .current-item {
    font-weight: 700;
  }

  span {
    text-transform: uppercase;
  }

  a {
    color: inherit;
  }
}