.intro {
  margin-top: 160px;

  @include media('<=768px') {
    margin-top: 80px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 52px;

    @include media('<=768px') {
      grid-template-columns: 1fr;
    }
  }

  img {
    height: auto;
    width: 100%;
  }

  p {
    font-size: 18px;
    line-height: 140%;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}