.partners {
  background-color: #fff;
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  max-width: 1560px;
  width: 100%;

  @include media('<=768px') {
    border-radius: 40px;
    margin-top: 40px;
  }

  .container {
    padding: 60px 160px;

    @include media('<=768px') {
      padding: 24px $container-padding;
    }
  }
}