.workshop {
  margin-top: 160px;

  @include media('<=768px') {
    margin-top: 80px;
  }

  &-slider {
    align-items: end;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 48px;

    @include media('<=768px') {
      grid-template-columns: 100%;
      position: relative;
    }
  }

  &-slider-main {
    background-color: $black-bgc;
    position: relative;
    z-index: 100;
  }

  &-item {
    align-items: end;
    display: flex;
    gap: 24px;

    @include media('<=768px') {
      align-items: start;
      flex-direction: column;
      gap: 12px;
    }

    figure {
      max-width: 342px;
      width: 100%;

      @include media('<=768px') {
      }

      &,
      img {
        border-radius: 64px 64px 4px 64px;
      }
    }

    .title {
      font-size: 24px;
      line-height: 150%;
    }

    .workshop-desc-wrapper {
      background-color: $blue;
      border-radius: 64px 64px 46px 4px;
      color: $black-bgc;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 24px;
      margin-bottom: 8px;
      padding: 40px 24px;

      span {
        align-items: center;
        display: flex;
        gap: 12px;
      }
    }
  }

  &-thumbs {
    @include media('<=768px') {
      display: none;
    }

    .swiper {
      overflow: visible;
    }

    .swiper-slide, img {
      border-radius: 100%;
      height: 130px;
      width: 130px;
      transition: $transition-quick;
    }

    img {
      filter: grayscale(100%);
      object-fit: cover;
      object-position: center;
    }

    .swiper-slide-thumb-active {
      img {
        filter: grayscale(0);
      }
    }
  }

  .slider-controls {
    justify-content: flex-end;
    margin-top: 24px;
  }
}